#screenshot .section-header{
	margin: 0px !important;
}

#screenshot .portfolio figure.effect-julia figcaption{
	background: rgba(32, 148, 191, 0.8);
}

.hero-area{
	 background: url("../../img/headers/portfolio.png") no-repeat center center;;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0 auto;
	height: auto;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 150px;
 }

@media (min-width: 1200px){
	.hero-area {
		padding: 100px 0;
		/*background-attachment: fixed;*/
		height: 60vh;
	}
}

.port-box{
	padding: 10px !important;
	overflow: hidden;
}
.port-card{
	width: 100%;
}